<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Database Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1 id="big-title">Database Manager</h1>
    <br>
    <div class="table-buttons">
      <a href="{{ url_for('category') }}" class="btn btn-main">Categories</a>
      <a href="{{ url_for('product') }}" class="btn btn-main">Products</a>
      <a href="{{ url_for('customer') }}" class="btn btn-main">Customers</a>
      <a href="{{ url_for('inventory') }}" class="btn btn-main">Inventory</a>
      <a href="{{ url_for('product_order') }}" class="btn btn-main">Product Orders</a>
      <a href="{{ url_for('sale') }}" class="btn btn-main">Sales</a>
      <a href="{{ url_for('store_location') }}" class="btn btn-main">Store Locations</a>
      <a href="{{ url_for('employee') }}" class="btn btn-main">Employees</a>
      <a href="{{ url_for('users') }}" class="btn btn-main">Users (Admin)</a>
    </div>
    
  </body>
</html>
